<div class="col-xs-10 col-xs-offset-1" about>
  <h1>About</h1>
  <p>
    about
  </p>
  <br />
  <p>
    text
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Kimberly.jpg', class: 'img-responsive' %>
  </div>
  
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kimberly Vandegrift</h2>
    <br />
    <p>
      insert blurb
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
  <br />


</div>